img {
  width: 400px;
  height: 200px;

}

#header {
  background-color: #20C144;
  padding: 50px;
  width: 100%;
  text-align: left;
  color: white;
  margin-bottom: 25px;
}

body {
  font-family: Arial;
}

.flex-container {
  display: flex;
  align-items: center;

}

.item{
  margin: 1%;
}

h1 {
  display: inline;
  padding-right: 15px;
}

a.heading {
  text-decoration: none;
  color: white;
  padding: 5px 5px 5px 35px;

}

.article-head {
  text-decoration: none;
  color: black;
}
